*::selection{
  background-color: red;
  color: #fff;
}
body {
    font-family: Arial, sans-serif;
    display: flex;
    overflow: auto;
    align-items: center;
    justify-content: center;
    height: 130vh;
    margin: 0;
    background-color: #000000;
  }
  .bg {
    position: fixed;
    object-fit: contain;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    z-index: -1;
  }

  #game-container {
    text-align: center;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -40%);
    color: white;
    text-transform: uppercase;
    font-weight: 700;
  }
  #game-container p{
    font-size: 18px;
    color: red;
    -webkit-text-stroke: 0.5px black;
  }
  #game-container h1{
    font-size: 24px;
    color: red;
    -webkit-text-stroke: 0.5px black;
  }

  #result {
    font-size: 24px;
    color: red;
    -webkit-text-stroke: 0.5px black;
  }

  #choices img {
    border-radius: 15px;
    width: 200px;
    height: 125px;
    margin: 10px;
    cursor: pointer;
    object-fit: cover;
    transition: all ease 0.5s;
    scale: 1;
  }
  #choices img:hover{
    scale: 1.5;
  }

  #video-container {
    display: none;
    height: 1vh;
  }
  #scoreboard {
    font-size: 18px;
    margin-top: 20px;
    font-size: 20px;
    color: red;
    -webkit-text-stroke: 0.5px black;
    transition: all ease 0.5s;
    scale: 1;
  }
  #scoreboard:hover{
    scale: 1.5;
  }
